.week-app::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-image:
      linear-gradient(0deg, #7b9584 0px, #7b9584 1px, transparent 1px, transparent 100px), /* 横向网格线 */
      linear-gradient(90deg, #7b9584 0px, #7b9584 1px, transparent 1px, transparent 100px); /* 纵向网格线 */
  background-size: 100px 100px; /* 网格大小 */
  opacity: 0.1; /* 网格透明度 */
  pointer-events: none; /* 防止阻挡交互 */
  z-index: 0; /* 确保在内容下方 */
}

.week-app {
  background-color: #f0e9e1;
  position: relative; /* 为 ::before 提供定位上下文 */
  .card {
    border-radius: 10px;
    border: 1px solid #2c583b;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: relative; /* 确保在 ::before 上方 */
    z-index: 1;
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
    color: #2c583b;
    width: 340px;
    text-align: center;
  }
  .progress-bar {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .progress-bar-item {
    width: 4px;
    height: 30px;
    border: 1px solid #2c583b;
  }
  .progress-bar-item.active {
    background-color: #2c583b;
  }
}
